body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}


.navbar {
    background-color: #727270;
    color: #fff;
}


.quem-somos {
    background-color: rgb(238, 224, 143);
}
.parceiros {
    background-color: #727270;
    color: rgb(20, 17, 12);
}

.servicos {
    background-color:#fff;
}

.margin {
    padding-top: 10px;
    padding-bottom: 10px;
}

.bg-footer{
    color: white;
    background-color: #727270;
}

